ul#ajax-thumbnails-list,
#ajax-thumbnails-list li {
  list-style-type: none;
  list-style-image: none;
  background: none;
  padding: 0;
  margin: 0;
}
#ajax-thumbnail-main,
#ajax-thumbnails-list li {
  display: inline-block;
}
#ajax-thumbnail-main.thumbnail-loader {
  background: transparent url('ajax-loader.gif') no-repeat center center;
}
#ajax-thumbnail-main.thumbnail-loader img {
  opacity: 0.15;
  filter: alpha(opacity=0.15);
}
